<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeechT5 TTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="tts_choices">
        <div class="text-input">
            <textarea id="text" rows="10" cols="50">This is SpeechT5 fine-tuned model.</textarea>
        </div>

        <div class="speaker-picker">
            <div class="scrollable" id="speakers" tabindex="0">
                <span class="speaker_id" id="speaker_id">0</span>
            </div>
        </div>
    </div>
    <button id="speak_button" value="submit">Speak</button>
    <audio id="audio" controls></audio>
    <audio id="audio2" controls></audio>

    <script>
        $(document).ready(function() {
            var selectedSpeaker = '0';

            $("#speak_button").on("click", function(event) {
                event.preventDefault();

                var text = $("#text").val();
                selectedSpeaker = parseInt($("#speaker_id").text(), 10);

                $.ajax({
                    url: '/submit',
                    type: 'POST',
                    data: {
                        text: text,
                        speaker_id: selectedSpeaker
                    },
                    success: function(response) {
                        var audioUrl = response.audio_url;
                        $('#audio').attr('src', audioUrl);
                        $('#audio')[0].play();

                        var audio2Url = response.audio2_url;
                        $('#audio2').attr('src', audio2Url);
                        $('#audio2')[0].play();
                    },
                    error: function() {
                        alert("Error submitting form.");
                    }
                });
            });
        });
    </script>
</body>
</html>
